{% extends "sdntool/base.html" %} {% block content %}
<h4></br>
  Software Defined Security
  <small class="text-muted">Version 1.0</small>
</h4>
<div class="row mt-4">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}" style="text-decoration: none;">AAA Management</a></li>
        <li class="breadcrumb-item active" aria-current="page" style="text-decoration: none;">Configure</li>
      </ol>
    </nav>
  </div>
</div>



<div class="row mb-4">
  <div class="col-sm-8" style="margin:auto;">
    <div class="card bg-light">
      <h3 class="card-header " style="background-color:aquamarine;"> <i class="fas fa-cog"
          style="margin-right:14px"></i>AAA Management</h3>
      <h4 class="card-header " style="background-color:antiquewhite; text-align: center;"><i class="fas fa-plus"
          style="margin-right:14px"></i>Configure</h4>
      <div class="card-body">
        <form action="{% url 'aaacontroller' %}" method="post">
          {% csrf_token %}
          <label for="ip">Select IP</label>
          <select id="ip" name="ip">
            <option value={{ip}}>{{ip}}</option>

          </select>
          <label for="radiusip">Enter Radius IP</label>
          <input type="text" id="radiusip" class="fadeIn second" value="" name="radiusip" required>
          <label for="radiusport">Enter Radius Server Port</label>
          <input type="text" id="radiusport" class="fadeIn second" value="" name="radiusport" required>
          <label for="radiussecret">Enter Radius secret</label>
          <input type="text" id="radiussecret" class="fadeIn second" value="" name="radiussecret" required>

          <input type="submit" class="fadeIn fourth" value="View config">
        </form>
      </div>

    </div>
  </div>
  <div id="formFooter">
    {% for message in messages %}
    <div class="container-fluid mt-2">
      <div class="alert {{ message.tags }} alert-dismissible text-center" role="alert">

        {{ message }}
      </div>
    </div>
    {% endfor %}
  </div>

</div>
<!-- Main Col END -->

<style>
  input,
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 20%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  div.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style>
{% endblock %}