{% extends "sdntool/base.html" %} {% block content %}



<div class="row mt-4">
  <div class="col-sm-12">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}" style="text-decoration: none;">TLS Authentication</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page" style="text-decoration: none;">Configure/Enable TLS</li>
      </ol>
    </nav>


  </div>

</div>



<div class="row mt-4">
  <div class=col-sm-8 style="float:none;margin:auto;">
    <div class="card bg-light">
      <h3 class="card-header " style="background-color:aquamarine;"> <i class="fas fa-cog"
          style="margin-right:14px"></i>TLS Authentication</h3>
      <h4 class="card-header " style="background-color:antiquewhite" ;><i class="fas fa-plus"
          style="margin-right:14px"></i>Config TLS</h4>
      <div class="card-body">
        <form action="{% url 'configtls' %}" method="post">
          {% csrf_token %}
          <label for="ip">Select IP</label>
          <select id="ip" name="ip">
            {% for x in ip %}
            <option value={{x}}>{{x}}</option>
            {% endfor %}
          </select>
          <label for="status">Action</label>
          <select id="status" name="status">

            <option value=false>Disable</option>
            <option value=true>Enable</option>
          </select>

          <label for="keyloc">Location of the key store</label>
          <input type="text" id="keyloc" class="fadeIn second" value="/home/sdn/wiki/onos.jks" name="keyloc" required>
          <label for="keypassword">Key Store Password (Enter the password which was set)</label>
          <input type="password" id="keypassword" class="fadeIn second" value="222222" name="keypassword" required>
          <label for="trustloc">Location of the Trust store</label>
          <input type="text" id="trustloc" class="fadeIn second" value="/home/sdn/wiki/onos.jks" name="trustloc"
            required>
          <label for="trustpassword">Trust Store Password (Enter the password which was set)</label>
          <input type="password" id="trustpassword" class="fadeIn second" value="222222" name="trustpassword" required>
          <label for="sshuser">SSH User</label>
          <input type="text" id="sshuser" class="fadeIn second" name="sshuser" required>
          <label for="sshpass">SSH Password</label>
          <input type="password" id="sshpass" class="fadeIn second" name="sshpass" required>
          <label for="filepath">ONOS Location</label>
          <input type="text" id="filepath" class="fadeIn second" name="fileloc" value="/home/ubuntu/onos" required>
          <input type="submit" class="fadeIn fourth" value="Submit">

      </div>

      </form>
    </div>
  </div>
  <div id="formFooter">
    {% for message in messages %}
    <div class="container-fluid mt-2">
      <div class="alert {{ message.tags }} alert-dismissible text-center" role="alert">

        {{ message }}
      </div>
    </div>
    {% endfor %}
  </div>

</div>
<!-- Main Col END -->

<style>
  input,
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 13%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  div.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style>
{% endblock %}