{% extends "sdntool/base.html" %} {% block content %}
<h4></br>
  Software Defined Security
  <small class="text-muted">Version 1.0</small>
</h4>
<div class="row mt-4">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}" style="text-decoration: none;">Security Functions</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page" style="text-decoration: none;">DDoS attack detection
        </li>
      </ol>
    </nav>
  </div>
</div>
<div class="row mt-4" id="portfault">
  <div class="col-sm-12" style="float:none;margin:auto;">
    <h3 class="card-header" style="background-color:aquamarine" ;><i class="fas fa-exclamation-triangle"
        style="margin-right:14px"></i>DDOS attack detection</h3>
    {% for message in messages %}
    <div class="container-fluid mt-2 mx-4">
      <div class="alert {{ message.tags }} alert-dismissible text-center fade show" role="alert">
        {{ message }}
        {% if portfaultcounter != 0 %}

        <script>alert("{{message}}")</script>
        {% endif %}     
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    {% endfor %}

    <div class="card-body table-responsive">
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th>ONOS IP</th>
            <th>Device id</th>
            <th>Port no</th>
          </tr>
        </thead>
        <tbody>
          {% for x in portfaultresponse %}
          <tr bg="orange">
            <td>{{x.ip}}</td>
            <td> {{x.id}} </td>
            <td>{{x.port}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function () {
    setInterval(function () {
      $("#portfault").load(location.href + " #portfault>*", "");
    }, 4000);
  });  
</script>
{% endblock %}