<style>
    footer {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: green;
        color: whitesmoke;
        text-align: center;
    }
</style>


<footer>
    <p>Copyright &copy; CDC, Jadavpur University</p>
</footer>
</div>




<script src="/static/js/all.min.js" crossorigin="anonymous"></script>
<script src="/static/js/jquery.js?{% now 'U' %}"></script>
<script src="/static/js/bootstrap.bundle.min.js?{% now 'U' %}" crossorigin="anonymous"></script>
<script src="/static/js/scripts.js?{% now 'U' %}"></script>
<script type="text/javascript" src="/static/js/vis-network.min.js?{% now 'U' %}"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js?{% now 'U' %}"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap5.min.js?{% now 'U' %}"></script>
<script type="text/javascript" src="/static/js/filterDropDown.min.js?{% now 'U' %}"></script>

<script src="/static/js/jquery-confirm.min.js"></script>
</body>

</html>






<script>
    // initialising dt table
    $(document).ready(function () {

        $(".filter_datatable").DataTable({
            stateSave: true,
            // Definition of filter to display
            filterDropDown: {
                columns: [
                    {
                        idx: 1
                    },
                    {% comment %} {
            idx: 3
        } {% endcomment %}
                            ],
        bootstrap: true
                        }
                    });
    $(".filter_portdatatable").DataTable({
        stateSave: true,
        // Definition of filter to display
        filterDropDown: {
            columns: [
                {
                    idx: 0
                },
                {% comment %} {
        idx: 3
    } {% endcomment %}
                            ],
        bootstrap: true
                        }
                    });

    $(".hostfilter_datatable").DataTable({
        stateSave: true,
        // Definition of filter to display
        filterDropDown: {
            columns: [
                {
                    idx: 8
                },
                {% comment %} {
        idx: 3
    } {% endcomment %}
                        ],
        bootstrap: true
                    }
                });
            } );



</script>
</body>

</html>