{% extends "sdntool/base.html" %} {% block content %}


<h4></br>
  Software Defined Security
  <small class="text-muted">Version 1.0</small>
</h4>
<div class="row mt-4">
  <div class="col-sm-12">
 
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}" style="text-decoration: none;">Home</a></li>

        <li class="breadcrumb-item active" aria-current="page" style="text-decoration: none;">View Activity Logs</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row mt-4" id="switchfault">
  <h3 class="card-header" style="background-color:aquamarine" ;> <i class="fas fa-clipboard"
      style="margin-right:14px"></i> SDS Log Management</h3>
  <h4 class="card-header" style="background-color:lightyellow; text-align: center;"> <i class="fas fa-clipboard"
      style="margin-right:14px"></i> View Activity Logs</h4>
  <div class="col-sm-12" style="float:none;margin:auto;">
    <div class="text-center mt-4 mx-3 mb-3">
      <a href="{% url 'date' %}" class="btn btn btn-lg active" role="button" aria-pressed="true"
        style="height:50px;width:250px;background-color:lightgreen">View Logs by date<i
          class="far fa-calendar" style="margin-left:14px"></i></a>
      <a href="{% url 'deletelogconfirm' %}" class="btn btn btn-lg active" role="button" aria-pressed="true"
        style="height:50px;width:250px;margin-left: 10px;background-color:red">Delete all Logs<i
          class="fa fa-trash" style="margin-left:14px"></i></a>
    </div>

    <div class="card-body table-responsive">
      <table class="table table-bordered filter_datatable">

        <thead class="table" style="background-color:turquoise" ;>
          <tr>
            <th>Sl No.</th>
            <th>Date/time</th>
            <th>Source</th>
            <th>Message</th>
          </tr>
        </thead>

        <tbody id="mydiv">
          {% for x in logresponse %}

          <tr bg="aliceblue">
            <td>{{forloop.counter}}</td>
            <td>{{x.datetime}}</td>
            <td>{{x.app}}</td>
            <td>{{x.status}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
{% block javascript %}
<script>

</script>

{% endblock %}