{% extends "sdntool/base.html" %} {% block content %}
<h4></br>
  Software Defined Security
  <small class="text-muted">Version 1.0</small>
</h4>
<div class="row mt-4">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}" style="text-decoration: none;">HTTPS Configuration</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page" style="text-decoration: none;">Modify HTTPS</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row mt-4">
  <div class=col-sm-8 style="float:none;margin:auto;">
    <div class="card bg-light">
      <h3 class="card-header " style="background-color:aquamarine;"> <i class="fas fa-cog"
          style="margin-right:14px"></i>HTTPS Configuration</h3>
      <h4 class="card-header " style="background-color:antiquewhite; text-align: center;"><i class="fas fa-plus"
          style="margin-right:14px"></i>Modify HTTPS</h4>
      <div class="card-body">
        <form action="{% url 'modifyhttp' %}" method="post">
          {% csrf_token %}
          <label for="ip">Select IP</label>
          <select id="ip" name="ip">
            {% for x in ip %}
            <option value={{x}}>{{x}}</option>
            {% endfor %}
          </select>

          <label for="status">Action</label>
          <select id="status" name="status">
            <option value=true>Enable</option>
            <option value=false>Disable</option>
          </select>

          <label for="key">Location of the key store</label>
          <input type="text" id="key" class="fadeIn second" value="etc/keystore" name="key" required>
          <label for="password">SSL Password</label>
          <input type="password" id="password" class="fadeIn second" name="password" required>
          <label for="cnfpassword">Confirm Password</label>
          <input type="password" id="cnfpassword" class="fadeIn second" name="cnfpassword" required>
          <label for="sshuser">SSH User</label>
          <input type="text" id="sshuser" class="fadeIn second" name="sshuser" required>
          <label for="sshpass">SSH Password</label>
          <input type="password" id="sshpass" class="fadeIn second" name="sshpass" required>
          <label for="filepath">ONOS Location</label>
          <input type="text" id="filepath" class="fadeIn second" name="fileloc" value="/home/ubuntu/onos" required>
          <label for="karaf">Karaf version</label>
          <input type="text" id="karaf" class="fadeIn second" name="karaf" value="4.2.9" required>

          <input type="submit" class="fadeIn fourth" value="Submit">
      </div>

      </form>
    </div>
  </div>
  <div id="formFooter">
    {% for message in messages %}
    <div class="container-fluid mt-2">
      <div class="alert {{ message.tags }} alert-dismissible text-center" role="alert">

        {{ message }}
      </div>
    </div>
    {% endfor %}
  </div>

</div>
<!-- Main Col END -->

<style>
  input,
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 13%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  div.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style>
{% endblock %}