{% extends "sdntool/base.html" %} {% block content %}


<h4></br>
    Secure Software Define Network
    <small class="text-muted">Version 1.2</small>
</h4>
<style>


</style>
<div class="row mt-4" id="switchfault">
  <h4 class="card-header"style="background-color:aquamarine"> <i class="fas fa-home"style="margin-right:14px"></i>TLS Authentication</h4>
  <h4 class="card-header"style="background-color:antiquewhite"> <i class="fas fa-laptop-code"style="margin-right:14px"></i>View Configuration</h4>
    <div class="col-sm-12" style="float:none;margin:auto;">
      <div class="text-center mt-4 mx-3 mb-3">
        
        
        </div
        <div>
            {% for message in messages %}
            <div class="container-fluid mt-2">
              <div class="alert {{ message.tags }} alert-dismissible text-center" role="alert" >
                
                {{ message }}
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="text-center mt-4">
          
            
              </div>
              {% if request.session.login.userrole != 'operator' %}
              <div class="text-center mt-4">
              <!-- <a href="{% url 'configtls' %}" class="btn btn btn-lg active" role="button" style="background-color:lightgreen" aria-pressed="true">Configure TLS</a> -->
              <a href="{% url 'modifytls' %}" class="btn btn btn-lg active" role="button" style="background-color:lightgreen" aria-pressed="true">Enable TLS</a>
              <a href="{% url 'disabletls' %}" class="btn btn btn-lg active" role="button" style="background-color:red" aria-pressed="true">Disable TLS</a>
              
              </div>
              {% endif %}
      </form>
      </div>

                <div class="card-body table-responsive" >
                   <table class="table table-bordered filter_datatable" >

                        <thead class="table" style="background-color:turquoise;">
                            
                        <tr>
                            <th>Sl No.</th>
                            <th>IP Address</th>
                            <th>Status</th>
                            
                            
                           
                         </tr>

                      </thead>

                      <tbody id="mydiv" >
                       

                        {% for x in ipconfiglist %}
                        <tr bgcolor="lightcyan" >
                             <td>{{forloop.counter}}</td>
                             <td>{{x.ip}}</td>
                             <td> {{x.status}} </td>
                             

                        </tr>
                        {% endfor %}

                       
                      </tr> 
                          
                    
                    </tr> 
                        
                  
                  </tr> 
                            
                            
                                                                                                   
                       

                        
                        
                       


                     
                      </tbody>
                    </table>
                </div>
    </div>

</div>
{% endblock %}
{% block javascript %}
<script>



  
  </script>

{% endblock %}



