{% extends "sdntool/base.html" %} {% block content %}


<h4></br>
  Software Defined Security
  <small class="text-muted">Version 1.0</small>
</h4>
<div class="row mt-4">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}" style="text-decoration: none;">Firewall Management</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page" style="text-decoration: none;">View Rules</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row mt-4" id="switchfault">
  <h4 class="card-header" style="background-color:aquamarine"> <i class="fas fa-home"
      style="margin-right:14px"></i>Firewall Management</h4>
  <h4 class="card-header" style="background-color:antiquewhite; text-align: center;"> <i class="fas fa-laptop-code"
      style="margin-right:14px"></i>View Rules</h4>
  <div class="col-sm-12" style="float:none;margin:auto;">
    <div class="text-center mt-4 mx-3 mb-3">
      {% for message in messages %}
      <div class="container-fluid mt-2 mx-4">
        <div class="alert {{ message.tags }} alert-dismissible text-center" role="alert">

          {{ message }}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="text-center mt-4">

    </div>
    {% if request.session.login.userrole != 'operator' %}
    <div class="text-center mt-4">
      <a href="{% url 'addfire' %}" class="btn btn btn-lg active" role="button" style="background-color:lightgreen"
        aria-pressed="true">Add rules</a>
      <a href="{% url 'addrulesbyport' %}" class="btn btn btn-lg active" role="button"
        style="background-color:lightgreen" aria-pressed="true">Add rules by port</a>
      <a href="{% url 'addrulesbysrc' %}" class="btn btn btn-lg active" role="button"
        style="background-color:lightgreen" aria-pressed="true">Add rules by Source</a>

    </div>
    {% endif %}
    </form>
  </div>

  <div class="card-body table-responsive">
    <table class="table table-bordered filter_datatable">

      <thead class="table" style="background-color:turquoise;">
        <tr>
          <th>Firewall IP</th>
          <th>Rule ID</th>
          <th>Source MAC</th>
          <th>Destination MAC</th>
          <th>Protocol</th>
          <th>Device Id</th>
          <th>Port no</th>
          <th>Action</th>
          {% if request.session.login.userrole != 'operator' %}
          <th>Delete rules</th>
          {% endif %}
        </tr>
      </thead>

      <tbody id="mydiv">
        {% for x in firewallresponse %}
        <tr bg="lightcyan">
          {% if len(x.rules) != 0 %}
          <td rowspan="{{len(x.rules)}}">{{x.ip}}</td>
          {% for rule in x.rules %}
          <td>{{rule.ruleId}}</td>
          <td>{{rule.srcMac}}</td>
          <td>{{rule.dstMac}}</td>
          <td>{{rule.protocol}}</td>
          <td>{{rule.deviceId}}</td>
          <td>{{rule.port}}</td>
          <td>{{rule.action}}</td>
          {% if request.session.login.userrole != 'operator' %}
          <td><a href="{% url 'deleterules' %}?id={{rule.ruleId}}&firewallip={{x.ip}}" class="btn btn-primary btn-lg active" role="button"
              style="background-color:red" aria-pressed="true">Delete</a></td>
          {% endif %}
          {% endfor %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

</div>
{% endblock %}
{% block javascript %}

{% endblock %}