{% extends "sdntool/base.html" %} {% block content %}


<h4></br>
  Software Defined Security
  <small class="text-muted">Version 1.0</small>
</h4>
<div class="row mt-4">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}" style="text-decoration: none;">Configure HTTPS</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page" style="text-decoration: none;">View HTTPS Configuration
        </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row mt-4" id="switchfault">
  <h4 class="card-header" style="background-color:aquamarine"> <i class="fas fa-home"
      style="margin-right:14px"></i>HTTPS Configuration</h4>
  <h4 class="card-header" style="background-color:antiquewhite; text-align: center;"> <i class="fas fa-laptop-code"
      style="margin-right:14px"></i>View Configuration</h4>
  <div class="col-sm-12" style="float:none;margin:auto;">
    <div class="text-center mt-4 mx-3 mb-3">

    </div <div>
    {% for message in messages %}
    <div class="container-fluid mt-2">
      <div class="alert {{ message.tags }} alert-dismissible text-center" role="alert">

        {{ message }}
      </div>
    </div>
    {% endfor %}
  </div>

  {% if request.session.login.userrole != 'operator' %}
  <div class="text-center mt-4">
    <a href="{% url 'modifyhttp' %}" class="btn btn btn-lg active" role="button" style="background-color:lightgreen"
      aria-pressed="true">Modify HTTPS</a>
    <a href="{% url 'disablehttp' %}" class="btn btn btn-lg active" role="button" style="background-color:red"
      aria-pressed="true">Disable HTTPS</a>

  </div>
  {% endif %}

  </form>
</div>


<div class="card-body table-responsive">
  <table class="table table-bordered filter_datatable">

    <thead class="table" style="background-color:turquoise;">
      <tr>
        <th>Sl No.</th>
        <th>IP Address</th>
        <th>Status</th>
      </tr>

    </thead>
    <tbody id="mydiv">

      {% for x in ipconfiglist %}
      <tr bg="lightcyan">
        <td>{{forloop.counter}}</td>
        <td>{{x.ip}}</td>
        <td> {{x.status}} </td>

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
</div>

</div>
{% endblock %}
{% block javascript %}

{% endblock %}